/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/backend/summernote.zip
public/backend/img/
public/backend/js/sb-admin-2.js
public/backend/summernote/
public/backend/js/
public/backend/vendor/
